.imgo-app {
	width:100%;
	height:100%;
	position:absolute;
	position:fixed;
	top:0;
	left:0;
	background:#e96e4f;
	-ms-perspective:1500px;
	-moz-perspective:1500px;
	-webkit-perspective:1500px;
	perspective:1500px;
	.app-panel {
		width:100%;
		height:100%;
		position:absolute;
		background:#EEEEEE;
		z-index:10;
		-ms-transition:-ms-transform 0.4s,opacity 0.4s;
		-moz-transition:-moz-transform 0.4s,opacity 0.4s;
		-webkit-transition:-webkit-transform 0.4s,opacity 0.4s;
		transition:transform 0.4s, opacity 0.4s;
		-ms-transform:translateZ(0) translateX(0) rotateY(0deg);
		-moz-transform:translateZ(0) translateX(0) rotateY(0deg);
		-webkit-transform:translateZ(0) translateX(0) rotateY(0deg);
		transform:translateZ(0) translateX(0) rotateY(0deg);
		.panel-tip {
			width:100%;
			height:100%;
			display:none;
			position:absolute;
		}
		.list-tip {
			position:absolute;
			top:13px;
			right:40px;
			font-size:30px;
			color:#4F254A;
			cursor:pointer;
		}
		.app-home {
			width:100%;
			height:100%;
			display:block;
			position:absolute;
			background:black;
			.nav-warp {
				width:100%;
				position:relative;
				background:#F7F7F9;
				.nav {
					margin: {
						top:6px;
						bottom:6px;
					};
				}
			}
			.home-panel {
				margin: {
					top:40px;
					bottom:20px;
				};
				color:white;
				.text-center {
					img {
						display:inline-block;
					}
				}
			}
		}
		.app-jottings {
			overflow:hidden;
			overflow-y:auto;
			-webkit-perspective: 1500px;
			perspective: 1500px;
			.jottings-head {
				width:100%;
				height:250px;
				position:relative;
				background:url("../images/bgheader.jpg") no-repeat center center;
				.list-tip {
					color:white;
				}
				.container-fluid {
					padding: {
						top:80px;
					};
				}
			}
			.jottings-content {
				padding: {
					top:40px;
					bottom:20px;
				};
				.book-panel {
					display:inline-block;
					padding:10px;
					border:1px solid #EEEEEE;
					cursor:pointer;
					opacity:0.7;
					-moz-transition:all .3s;
					-webkit-transition:all .3s;
					transition:all .3s;
					&:hover {
						border:1px solid #E8E8E8;
						border-radius:45px;
						background:#E8E8E8;
						-webkit-animation:bookScale 0.4s ease;
						animation:bookScale 0.4s ease;
						opacity:1;
						z-index:100;
					};
					.icomoon {
						font-size:160px;
						color:#EBCA8E;
						&:hover {
							color:#F8D59A;
						};
					}
				}
			}
			//.book-item {
//				width:100%;
//				height:100%;
//				display:none;
//				position:absolute;
//				top:0;
//				left:0;
//				background:#342C20;
//				overflow:hidden;
//				-webkit-perspective: 1500px;
//				perspective: 1500px;
//				&::before {
//					width: 10px;
//					height: 100%;
//					position: absolute;
//					left:0;
//					top: 0;
//					z-index: 10;
//					background: -webkit-linear-gradient(left, #dddddd 33.33%, #f0f0f0 33.33%, #f0f0f0 66.66%, white 66.66%);
//					background: linear-gradient(to right, #dddddd 33.33%, #f0f0f0 33.33%, #f0f0f0 66.66%, white 66.66%);
//					background-size: 3px 100%;
//					content: '';
//					-webkit-backface-visibility: hidden;
//				};
//				&::after {
//					width: 10px;
//					height: 100%;
//					position: absolute;
//					top: 0;
//					right:0;
//					z-index:10;
//					background: -webkit-linear-gradient(left, #dddddd 33.33%, #f0f0f0 33.33%, #f0f0f0 66.66%, white 66.66%);
//					background: linear-gradient(to right, #dddddd 33.33%, #f0f0f0 33.33%, #f0f0f0 66.66%, white 66.66%);
//					background-size: 3px 100%;
//					content: '';
//					-webkit-backface-visibility: hidden;
//				};
//				.book-target {
//					height:100%;
//					padding: {
//						left:15px;
//						right:15px;
//					}
//					background:white;
//				}
//				.book-page {
//					height:100%;
//					display:none;
//					background:white;
//					.book-content {
//						height:100%;
//						.span6 {
//							width: 48.93617021276595%;
//							height:100%;
//							display:inline-block;
//						}
//					}
//				}
//				.bookmark {
//					display:block;
//				}
//				.book-icon {
//					position:absolute;
//					margin: {
//						top:-30px;
//					};
//					font-size:60px;
//					cursor:pointer;
//					opacity:0.2;
//					z-index:999;
//					&:hover {
//						color:#2BB9EF;
//						-webkit-animation:bookScale 0.4s ease;
//						animation:bookScale 0.4s ease;
//						opacity:1;
//					};
//				}
//				.book-prev {
//					top:50%;
//					left:25px;
//				}
//				.book-next {
//					top:50%;
//					right:25px;
//				}
//				.book-exit {
//					margin:0;
//					top:25px;
//					right:44px;
//					font-size:30px;
//					&:hover {
//						color:#FAA62E;
//					};
//				}
//			}
		}
		.app-my {
			background:white;
			.info-warp {
				max-height:80%;
				position:relative;
				margin: {
					top:40px;
					left:20px;
					right:20px;
					bottom:20px;
				}
				padding:30px;
				border:1px solid #ddd;
				-webkit-border-radius: 4px;
				-moz-border-radius: 4px;
				border-radius: 4px;
				background:white;
				overflow:hidden;
				overflow-y:auto;
			}
		}
	}
	.app-nav {
		height:auto;
		position:absolute;
		top: 50%;
		right:25%;
		-ms-transform: translateY(-50%);
		-moz-transform: translateY(-50%);
		-webkit-transform: translateY(-50%);
		transform: translateY(-50%);
		-ms-transform-style: preserve-3d;
		-moz-transform-style: preserve-3d;
		-webkit-transform-style: preserve-3d;
		transform-style: preserve-3d;
		.nav-tip {
			display:block;
			margin: {
				bottom:30px;
			};
			line-height:50px;
			font-weight:bold;
			font-size:30px;
			color:white;
			opacity:0;
			cursor:pointer;
			white-space:nowrap;
			-ms-transform-style: preserve-3d;
			-moz-transform-style: preserve-3d;
			-webkit-transform-style: preserve-3d;
			transform-style: preserve-3d;
			-ms-transform:translateX(350px) translateZ(-1000px);
			-moz-transform:translateX(350px) translateZ(-1000px);
			-webkit-transform:translateX(350px) translateZ(-1000px);
			-ms-transition:-ms-transform 0.4s,opacity 0.4s;
			-moz-transition:-moz-transform 0.4s,opacity 0.4s;
			-webkit-transition:-webkit-transform 0.4s,opacity 0.4s;
			transition:transform 0.4s,opacity 0.4s;
			&:hover {
				color: #ffdccd;
				text-decoration: none;
			};
			&:nth-child(2){
				-ms-tansition-delay:0.08s;
				-moz-tansition-delay:0.08s;
				-webkit-tansition-delay:0.08s;
				transition-delay:0.08s;
			};
			&:nth-child(3){
				-ms-tansition-delay:0.16s;
				-moz-tansition-delay:0.16s;
				-webkit-tansition-delay:0.16s;
				transition-delay:0.16s;
			};
		}		
	}
}
.animate {
	.app-panel {
		width:100%;
		height:100%;
		position:absolute;
		overflow:hidden;
		cursor:pointer;
		opacity:0.8;
		-ms-transform:translateZ(-1800px) translateX(-50%) rotateY(45deg);
		-moz-transform:translateZ(-1800px) translateX(-50%) rotateY(45deg);
		-webkit-transform:translateZ(-1800px) translateX(-50%) rotateY(45deg);
		transform:translateZ(-1800px) translateX(-50%) rotateY(45deg);
	}
	.app-nav {
		.nav-tip {
			opacity:1;
			-ms-transform:translateX(0) translateZ(0);
			-moz-transform:translateX(0) translateZ(0);
			-webkit-transform:translateX(0) translateZ(0);
			transform:translateX(0) translateZ(0);

		}		
	}
	
}
@media (max-width:800px),(max-height:410px) {
	.imgo-app {
		.app-nav {
			right:10%;
			.nav-tip {
				margin: {
					bottom:20px;
				};
				padding: {
					bottom:9px;
				};
				font-size:20px;
				line-height:15px;
			}
		}
	}
}

@-webkit-keyframes bookScale{
	0% {-webkit-transform:scale(1,1);}
	25% {-webkit-transform:scale(0.9,1.1);}
	50% {-webkit-transform:scale(1.1,0.9);}
	75% {-webkit-transform:scale(0.95,1.05);}
	100% {-webkit-transform:scale(1,1);}
}
@keyframes bookScale{
	0% {transform:scale(1,1);}
	25% {transform:scale(0.9,1.1);}
	50% {transform:scale(1.1,0.9);}
	75% {transform:scale(0.95,1.05);}
	100% {transform:scale(1,1);}
}
.animation-left {
	-webkit-animation:rotate-left 0.3s ease-in;
	animation:rotate-left 0.3s ease-in;
}
.animation-left-back {
	-webkit-animation:rotate-left-back 0.3s ease-out;
	animation:rotate-left-back 0.3s ease-out;
}
.animation-right {
	-webkit-animation:rotate-right 0.3s ease-in;
	animation:rotate-right 0.3s ease-in;
}
.animation-right-back {
	-webkit-animation:rotate-right-back 0.3s ease-out;
	animation:rotate-right-back 0.3s ease-out;
}
@-moz-keyframes rotate-left {
	0% {-moz-transform:translateZ(0) rotateY(0); opacity:1;}
	100% {-moz-transform:translateZ(-1600px) rotateY(-90deg); opacity:0.5;}
}
@-ms-keyframes rotate-left {
	0% {-ms-transform:translateZ(0) rotateY(0); opacity:1;}
	100% {-ms-transform:translateZ(-1600px) rotateY(-90deg); opacity:0.5;}
}
@-webkit-keyframes rotate-left {
	0% {-webkit-transform: translateZ(0) rotateY(0); opacity:1;}
	100% {-webkit-transform: translateZ(-1600px) rotateY(-90deg); opacity:0.5;}
}
@keyframes rotate-left {
	0% {transform:translateZ(0) rotateY(0); opacity:1;}
	100% {transform:translateZ(-1600px) rotateY(-90deg); opacity:0.5;}
}
@-moz-keyframes rotate-left-back {
	0% {-moz-transform:translateZ(-1600px) rotateY(90deg); opacity:0.5;}
	100% {-moz-transform:translateZ(0) rotateY(0); opacity:1;}
} 
@-ms-keyframes rotate-left-back {
	0% {-ms-transform:translateZ(-1600px) rotateY(90deg); opacity:0.5;}
	100% {-ms-transform:translateZ(0) rotateY(0); opacity:1;}
} 
@-webkit-keyframes rotate-left-back {
	0% {-webkit-transform: translateZ(-1600px) rotateY(90deg); opacity:0.5;}
	100% {-webkit-transform: translateZ(0) rotateY(0); opacity:1;}
}  
@keyframes rotate-left-back {
	0% {transform:translateZ(-1600px) rotateY(90deg); opacity:0.5;}
	100% {transform:translateZ(0) rotateY(0); opacity:1;}
}  
@-moz-keyframes rotate-right {
	0% {-moz-transform:translateZ(0) rotateY(0); opacity:1;}
	100% {-moz-transform:translateZ(-1600px) rotateY(90deg); opacity:0.5;}
}
@-ms-keyframes rotate-right {
	0% {-ms-transform:translateZ(0) rotateY(0); opacity:1;}
	100% {-ms-transform:translateZ(-1600px) rotateY(90deg); opacity:0.5;}
}
@-webkit-keyframes rotate-right {
	0% {-webkit-transform: translateZ(0) rotateY(0); opacity:1;}
	100% {-webkit-transform: translateZ(-1600px) rotateY(90deg); opacity:0.5;}
}
@keyframes rotate-right {
	0% {transform:translateZ(0) rotateY(0); opacity:1;}
	100% {transform:translateZ(-1600px) rotateY(90deg); opacity:0.5;}
}
@-moz-keyframes rotate-right-back {
	0% {-moz-transform:translateZ(-1600px) rotateY(-90deg); opacity:0.5;}
	100% {-moz-transform:translateZ(0) rotateY(0); opacity:1;}
} 
@-ms-keyframes rotate-right-back {
	0% {-ms-transform:translateZ(-1600px) rotateY(-90deg); opacity:0.5;}
	100% {-ms-transform:translateZ(0) rotateY(0); opacity:1;}
} 
@-webkit-keyframes rotate-right-back {
	0% {-webkit-transform:translateZ(-1600px) rotateY(-90deg); opacity:0.5;}
	100% {-webkit-transform:translateZ(0) rotateY(0); opacity:1;}
} 
@keyframes rotate-right-back {
	0% {transform:translateZ(-1600px) rotateY(-90deg); opacity:0.5;}
	100% {transform:translateZ(0) rotateY(0); opacity:1;}
} 
